@import '../../styles/base'

h1
  margin 3rem
  padding 2rem

h1:nth-child(2)
  background primary-500
  color accent-a100
  
h1:nth-child(3)
  background teal-500
  color yellow-a100
  
h1:nth-child(4)
  background brown-500
  color cyan-a100
  
h1:nth-child(5)
  background deep-purple-500
  color light-green-a100
  
h1:nth-child(6)
  background deep-orange-500
  color light-blue-a100

h1:last-child
  background red-500
  a
    color amber-a100